.container{width: 1200px;margin: 0 auto;}

.header{height: 64px;background-color: #222;}
.header .container{position: relative;}
.logo-img{height: 50px;margin-top: 7px;}
.footer{margin-top: 56px;background-color: #F5F5F5;text-align: center;padding: 40px 0;}
.footer p{font-size: 14px;color: #a0a0a0;letter-spacing: 0;text-align: center;line-height: 14px;padding: 8px 0;}
.footer .footer-link{font-size: 0;}
.footer p a{padding: 0 5px;border-left: 1px solid #b9b9b9;font-size: 14px;color: #a0a0a0;line-height: 14px;}
.footer p a:first-child{border-left: none;}

.input-form{width: 291px;height: 32px;position: absolute;top: 16px;left: 455px;}
.input-form input{height: 32px;border: none;outline: none;background-color: #353535;padding: 0 40px 0 20px;color: #fff;border-radius: 16px;width: 210px;position: absolute;top: 0;left: 0;}
.input-form-btn{height: 32px;width: 50px;position: absolute;right: 0;top: 0;background: #FF416B;background: linear-gradient(133deg, #FF4B2B 0%, #FF416B 100%);border-radius: 16px;}
.input-form-search-logo{width: 20px;margin: 6px 15px;}
.login-form{position: absolute;top: 22px;right: 0;font-size: 0;}
.login-form a{font-size: 14px;color: #b2b2b2;line-height: 20px;vertical-align: top;}
.login-form-split{margin: 0 8px;height: 12px;width: 1px;background-color: #b2b2b2;display: inline-block;margin-top: 4px;}
.collect-form{position: absolute;top: 22px;right: 175px;font-size: 0;}
.collect-form a{font-size: 14px;color: #b2b2b2;line-height: 20px;padding-left: 20px;margin-left: 23px;}
.collect-form-btn-1{background-image: url(../images/icon_history_bg.png);background-repeat: no-repeat;background-position: 0 2px;}
.collect-form-btn-2{background-image: url(../images/icon_collection_bg.png);background-repeat: no-repeat;background-position: 0 2px;}
.collect-form-btn-3{background-image: url(../images/icon_class_bg.png);background-repeat: no-repeat;background-position: 0 2px;}

.banner-con{margin-top: 24px;font-size: 0;overflow: hidden;}
.banner-con img{display: inline-block;border-radius: 6px;float: left;}
.banner-1{width: 594px;height: 360px;}
.banner-2{width: 594px;height: 174px;margin-left: 12px;}
.banner-3{width: 291px;height: 174px;margin-top: 12px;margin-left: 12px;}
.banner-4{width: 291px;height: 174px;margin-top: 12px;margin-left: 12px;}

.index-block{margin-top: 56px;overflow: hidden;}
.index-block .container{position: relative;}
.list-con-1{width: 796px;float: left;}
.list-con-2{width: 1200px;}
.list-con-title{font-size: 24px;color: #262626;letter-spacing: 0;line-height: 24px;font-weight: bold;margin-bottom: 24px;}
.index-manga-list{overflow: hidden;height: 314px;position: relative;}
.index-manga-item{width: 190px;float: left;margin-left: 12px;}
.index-manga-item:first-child{margin-left: 0;}
.index-manga-item-cover{width: 190px;height: 255px;border-radius: 6px;}
.index-manga-item-title{font-size: 16px;color: #262626;letter-spacing: 0;line-height: 24px;font-weight: bold;margin-top: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.index-manga-item-subtitle{font-size: 14px;color: #a0a0a0;letter-spacing: 0;line-height: 14px;margin-top: 7px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.rank-con{width: 342px;float: left;margin-left: 62px;}
.rank-list{overflow: hidden;}
.rank-item-1{position: relative;height: 67px;margin-top: 11px;}
.rank-item-cover{width: 89px;height: 67px;border-radius: 4px;}
.rank-top-1{background: #FA684B;position: absolute;top: 0;left: 0;font-size: 14px;color: #FFFFFF;letter-spacing: 0;height: 18px;line-height: 18px;text-align: center;width: 18px;border-radius: 4px 0px 4px 0px;}
.rank-item-title{font-size: 14px;color: #262626;letter-spacing: 0;line-height: 14px;position: absolute;width: 138px;left: 101px;top: 26px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.rank-item-right{font-size: 14px;color: #a0a0a0;letter-spacing: 0;line-height: 14px;position: absolute;width: 94px;right: 0px;top: 26px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.rank-item-right span{margin-left: 2px;}
.rank-item-2{position: relative;height: 18px;margin-top: 11px;margin-bottom: 11px;}
.rank-top-2{background: #F7C325;position: absolute;top: 0;left: 0;font-size: 14px;color: #FFFFFF;letter-spacing: 0;height: 18px;line-height: 18px;text-align: center;width: 18px;border-radius: 4px;}
.rank-item-2 .rank-item-title{width: 190px;left: 30px;top: 2px;}
.rank-item-2 .rank-item-right{top: 2px;}
.rank-top-3{background: #36D9B0;position: absolute;top: 0;left: 0;font-size: 14px;color: #FFFFFF;letter-spacing: 0;height: 18px;line-height: 18px;text-align: center;width: 18px;border-radius: 4px;}
.rank-top-x{background: #bfbfbf;position: absolute;top: 0;left: 0;font-size: 14px;color: #FFFFFF;letter-spacing: 0;height: 18px;line-height: 18px;text-align: center;width: 18px;border-radius: 4px;}

.icon-left{position: absolute;left: -42px;width: 30px;top: 161px;}
.icon-right{position: absolute;right: -42px;width: 30px;top: 161px;}

.carousel-list{width: 240px;overflow: hidden;float: left;position: relative;}
.carousel-left{position: absolute;left: -42px;top: 161px;width: 30px;}
.carousel-right{position: absolute;left: 252px;top: 161px;width: 30px;}
.carousel-list-title{font-size: 16px;color: #262626;letter-spacing: 0;line-height: 24px;font-weight: bold;margin-top: 11px;}
.carousel-list-subtitle{font-size: 12px;color: #a0a0a0;letter-spacing: 0;line-height: 12px;margin-top: 8px;}
.carousel-list-tag{margin-top: 12px;position: relative;font-size: 0;}
.carousel-list-tag span{font-size: 12px;color: #a0a0a0;letter-spacing: 0;line-height: 12px;padding: 2px 4px;border: 1px solid #d9d9d9;border-radius: 2px;margin-right: 8px;display: inline-block;}
.carousel-list-content{font-size: 12px;color: #a0a0a0;letter-spacing: 0;text-align: justify;line-height: 20px;margin-top: 20px;}
.carousel-list-tag-start{width: 80px;height: 28px;line-height: 28px;border-radius: 14px;background: #FF416B;background: linear-gradient(133deg, #FF4B2B 0%, #FF416B 100%);text-align: center;font-size: 12px;color: #FFFFFF;letter-spacing: 0;position: absolute;bottom: -1px;right: 0;}

.carousel-right-list{width: 949px;overflow: hidden;float: left;margin-left: 11px;}
.carousel-right-item{width: 100px;padding-left: 152px;position: relative;height: 188px;float: left;margin-bottom: 24px;margin-left: 51px;}
.carousel-right-item-cover{width: 140px;height: 188px;border-radius: 6px;position: absolute;left: 0;top: 0;}
.carousel-right-item-title{font-size: 16px;color: #262626;letter-spacing: 0;line-height: 24px;font-weight: bold;padding-top: 5px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.carousel-right-item-subtitle{font-size: 12px;color: #a0a0a0;letter-spacing: 0;line-height: 12px;margin-top: 8px;}
.carousel-right-item-tag{margin-top: 12px;position: relative;font-size: 0;}
.carousel-right-item-tag span{font-size: 12px;color: #a0a0a0;letter-spacing: 0;line-height: 12px;padding: 2px 4px;border: 1px solid #d9d9d9;border-radius: 2px;margin-right: 4px;display: inline-block;}
.carousel-right-item-content{font-size: 12px;color: #a0a0a0;letter-spacing: 0;text-align: justify;line-height: 20px;margin-top: 20px;width: 100px;position: absolute;right: 0;bottom: 5px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}

.list-con-title-class{margin-left: 55px;font-size: 0;vertical-align: top;}
.list-con-title-class a{font-size: 16px;color: #606060;letter-spacing: 0;line-height: 16px;font-weight: normal;padding: 2px 12px;margin-right: 8px;border-radius: 16.5px;line-height: 25px;}
.list-con-title-class a.active,.list-con-title-class a:hover{color: #FF4B2B;background: #F2F2F2;}
.list-con-title-more{font-size: 14px;color: #888;letter-spacing: 0;line-height: 14px;float: right;padding: 8px 20px 8px 8px;font-weight: normal;background-image: url(../images/icon_right_14.png);background-repeat: no-repeat;background-position: 38px 8px;}

.detail-info-1{background-color: #222;}
.detail-info-1 .container{position: relative;}
.detail-info-2{padding-bottom: 22px;}
.detail-info{padding-left: 270px;}
.detail-info-title{font-size: 30px;color: #FFFFFF;letter-spacing: 0;line-height: 38px;padding-top: 64px;}
.detail-info-stars{margin-top: 13px;font-size: 0;}
.detail-info-stars img{width: 16px;vertical-align: bottom;}
.detail-info-stars span{font-size: 14px;color: #a0a0a0;letter-spacing: 0;line-height: 14px;margin-left: 10px;}
.detail-info-tip{font-size: 14px;color: #a0a0a0;letter-spacing: 0;line-height: 14px;margin-top: 25px;padding-bottom: 32px;}
.detail-info-tip span{margin-left: 120px;}
.detail-info-tip span:first-child{margin-left: 0;}
.detail-info-tip a{color: #ededed;margin-right: 5px;}
.detail-info-tip span.item{margin-left: 0px;margin-right: 5px;}
.detail-info-cover{position: absolute;left: 0;top: 40px;width: 240px;height: 322px;border-radius: 6px;box-shadow: 0 2px 12px 0 rgba(0,0,0,0.30);}
.detail-info-content{margin-top: 28px;font-size: 14px;color: #595959;letter-spacing: 0;text-align: justify;line-height: 22px;min-height: 66px;}
.detail-info-content-2{display: none;}
.detail-info-content a{font-size: 14px;color: #FF4B2B;letter-spacing: 0;margin-left: 5px;display: inline-block;}
.detail-info-content-icon{width: 14px;vertical-align: top;position: relative;top: 4px;margin-left: 3px;}
.detial-info-btn-con{margin-top: 24px;font-size: 0;}
.detail-info-btn-1{display: inline-block;padding-left: 50px;/* width: 80px; */height: 40px;line-height: 40px;font-size: 14px;color: #FFFFFF;letter-spacing: 0;background: #FF416B;background-image: linear-gradient(133deg, #FF4B2B 0%, #FF416B 100%);border-radius: 20px;position: relative;margin-right: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 25px;}
.detail-info-btn-2{display: inline-block;padding-left: 47px;width: 53px;height: 40px;line-height: 40px;font-size: 14px;color: #595959;letter-spacing: 0;border-radius: 20px;position: relative;border: 1px solid #ccc;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.detail-info-btn-icon-1{position: absolute;width: 22px;top: 9px;left: 23px;}
.detail-info-btn-icon-2{position: absolute;width: 20px;top: 10px;left: 22px;}

.detail-list-form-title{font-size: 14px;color: #595959;letter-spacing: 0;line-height: 14px;margin-top: 40px;}
.detail-list-form-title-right{float: right;}
.detail-list-form-title-icon{height: 14px;vertical-align: top;margin-left: 1px;position: relative;*top: 3px;}

.detail-list-form-con{margin-top: 24px;font-size: 0;width: 1212px;}
.detail-list-form-item{width: 291px;height: 54px;line-height: 54px;font-size: 14px;color: #333;letter-spacing: 0;text-align: center;display: inline-block;background: #F5F5F5;border-radius: 6px;margin-right: 12px;margin-bottom: 12px;*width: 290px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.detail-list-form-item.hide{display: none;}

.detail-list-form-more{display: block;width: 1200px;height: 54px;line-height: 54px;font-size: 14px;color: #FF4B2B;letter-spacing: 0;text-align: center;background: #F5F5F5;border-radius: 6px;}
.detail-list-form-more-icon{vertical-align: top;width: 14px;position: relative;top: 19px;margin-left: 7px;*top: 3px;}
.detail-list-form-more.hide{display: none;}

.user-center{margin-top: 64px;overflow: hidden;}
.user-center-title{margin-left: 202px;font-size: 0;padding-bottom: 31px;}
.user-center-title span{font-size: 24px;color: #333;letter-spacing: 0;line-height: 24px;font-weight: bold;padding-right: 14px;}
.user-center-title .point{padding-right: 0px;height: 4px;width: 4px;background-color: #a0a0a0;display: inline-block;vertical-align: bottom;position: relative;bottom: 6px;border-radius: 2px;}
.user-center-title a{font-size: 16px;color: #595959;letter-spacing: 0;line-height: 16px;margin: 0 10px;font-weight: bold;}
.user-center-title a.active{color: #FF4B2B;}

.left-bar{height: 623px;border-right: 1px solid #d9d9d9;width: 139px;float: left;}
.left-bar a{display: block;height: 56px;line-height: 56px;background-color: #fff;padding-left: 49px;font-size: 14px;position: relative;}
.left-bar a.active{border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;border-left: 3px solid #FF4B2B;position: relative;left: 1px;padding-left: 45px;color: #FF4B2B;}
.left-bar-icon{width: 24px;position: absolute;left: 19px;top: 16px;}
.left-bar a.active .left-bar-icon{left: 15px;}

.right-bar{width: 1060px;float: left;}
.right-bar .input-con{padding-top: 58px;}
.right-bar .input-con-line{margin-bottom: 16px;height: 40px;line-height: 40px;}
.right-bar .input-con-title{width: 350px;text-align: right;font-size: 14px;color: #333;letter-spacing: 0;display: inline-block;padding-right: 12px;}
.right-bar .input-con-line select::-ms-expand { display: none; }
.right-bar .input-con-line select{border: 1px solid #ccc;border-radius: 4px;outline: none;width: 342px;padding: 10px 16px;vertical-align: top;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("../images/icon_choice.png") no-repeat right 12px center transparent;*margin-top: 10px;}
.right-bar .input-con-line input{height: 38px;border: 1px solid #ccc;border-radius: 4px;outline: none;width: 308px;padding: 0 16px;line-height: 38px;vertical-align: top;}

.input-con-code-btn{font-size: 14px;color: #FF4B2B;letter-spacing: 0;line-height: 14px;position: relative;left: -95px;}
.input-con-btn{height: 40px;line-height: 40px;width: 132px;background: #FF416B;background: linear-gradient(133deg, #FF4B2B 0%, #FF416B 100%);border-radius: 20px;display: inline-block;color: #fff;text-align: center;font-size: 14px;margin-left: 364px;margin-top: 8px;}

.shelf-con{padding-left: 63px;}
.shelf-top-bar-input{border: 1px solid #d0d0d0;outline: none;border-radius: 16px;height: 32px;line-height: 32px;padding-left: 20px;padding-right: 35px;}
.shelf-top-bar-input-logo{width: 14px;position: relative;left: -32px;top: 1px;*top: -6px;}
.shelf-top-bar-right{float: right;font-size: 14px;color: #666;line-height: 32px;}
.shelf-top-bar-right-logo{width: 16px;vertical-align: top;position: relative;top: 9px;margin-right: 5px;*top: 4px;}

.shelf-manga-list{margin-top: 24px;overflow: hidden;width: 1010px;}
.shelf-manga-item{width: 190px;margin-right: 12px;float: left;margin-bottom: 24px;}
.shelf-manga-item-cover{width: 190px;position: relative;font-size: 0;border-radius: 6px;overflow: hidden;}
.shelf-manga-item-cover img{width: 190px;height: 255px;}
.shelf-manga-item-cover p{position: absolute;bottom: 0;width: 80%;left: 0;height: 32px;line-height: 32px;background-color: #000;background-color: rgba(0,0,0,0.6);font-size: 14px;color: #FFFFFF;text-align: center;padding: 0 10%;}
.edit .shelf-manga-item-cover p{display: none;}
.shelf-manga-item-title{margin-top: 12px;font-size: 16px;color: #333;font-weight: bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.shelf-manga-item-subtitle{margin-top: 6px;font-size: 14px;color: #888;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.shelf-manga-item-subtitle a{font-size: 14px;color: #FF4B2B;margin-left: 4px;}

.edit-bar{float: right;font-size: 14px;color: #666;line-height: 32px;}
.edit-bar.hide{display: none;}
.edit-bar span{margin-left: 5px;}
.edit-bar input{vertical-align: top;position: relative;top: 10px;margin-left: 12px;*top: 7px;}
.edit-bar label{padding-right: 14px;}
.edit-btn-1{border: 1px solid #d0d0d0;height: 30px;line-height: 30px;width: 74px;text-align: center;border-radius: 15px;font-size: 14px;color: #666;display: inline-block;margin-left: 10px;}
.edit-btn-2{height: 32px;line-height: 32px;width: 76px;text-align: center;border-radius: 16px;font-size: 14px;color: #fff;display: inline-block;background: #FF416B;background: linear-gradient(133deg, #FF4B2B 0%, #FF416B 100%);margin-left: 10px;}

.edit-cover{position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.60);top: 0;left: 0;background-repeat: no-repeat;background-position: 16px 16px;background-size: 20px 20px;background-image: url(../images/icon_unselected.png);display: none;}
.edit .edit-cover{display: block;}
.edit-cover.active{background-image: url(../images/icon_selected.png);}

.shelf-top-sort{margin-left: 14px;}
.shelf-top-sort.active{color: #FF4B2B;}
.shelf-top-sort img{width: 14px;vertical-align: top;position: relative;top: 9px;}

.user-form{position: absolute;top: 16px;right: 0;font-size: 0;}
.user-form span{font-size: 14px;color: #a0a0a0;line-height: 32px;vertical-align: top;margin-right: 12px;}
.user-form-avatar{width: 32px;height: 32px;border-radius: 16px;overflow: hidden;cursor: pointer;}
.user-form-avatar-con{position: relative;height: 48px;display: inline-block;}
.user-form span.user-form-avatar-menu{position: absolute;top: 40px;right: 0;background-color: #fff;padding: 10px 20px;width: 150px;overflow: hidden;border: 1px solid #ccc;margin-right: 0;display: none;}
.user-form-avatar-menu a{display: inline-block;float: right;}
.user-form-avatar-menu a:first-child{float: left;}
.user-form-avatar-menu a:hover{color: #FF416B;}
.user-form .user-form-avatar-con:hover span.user-form-avatar-menu{display: block;}

.login-con{min-height: 585px;}
.login-title{margin-top: 85px;font-size: 24px;color: #252525;letter-spacing: 0;line-height: 24px;text-align: center;font-weight: bold;margin-bottom: 70px;}
.login-line{margin: 15px auto;width: 400px;line-height: 20px;font-size: 0;position: relative;}
.login-input{height: 38px;border: 1px solid #ccc;border-radius: 4px;outline: none;width: 370px;padding: 0 15px;line-height: 38px;vertical-align: top;}
.login-input.error{border: 1px solid #FF416B;}
.login-btn{height: 40px;line-height: 40px;width: 100%;background: #FF416B;background: linear-gradient(133deg, #FF4B2B 0%, #FF416B 100%);border-radius: 20px;display: inline-block;color: #fff;text-align: center;font-size: 14px;}
.login-error-tip{padding: 0 10px;color: #FF416B;font-size: 12px;width: 380px;margin: -10px auto;}
.login-error-tip-2{padding: 0;color: #FF416B;font-size: 12px;width: 400px;margin: -10px auto;text-align: right;}
.login-input-check{vertical-align: top;position: relative;top: 4px;margin-right: 3px;}
.login-input-label{font-size: 12px;color: #999;padding-right: 10px;margin-right: 10px;border-right: 1px solid #ddd;}
.login-forget{font-size: 12px;color: #999;}
.login-other{font-size: 12px;color: #02a0ff;text-decoration: underline;float: right;}
.login-input-href{font-size: 12px;color: #999;}
.login-href{font-size: 12px;color: #02a0ff;}
.login-code{font-size: 12px;color: #02a0ff;position: absolute;right: 20px;top: 10px;}

.result-title{margin-top: 60px;font-size: 20px;}
.result-title span{color: #fd113a;}

.banner_detail_form {position:relative;min-height:300px;margin:0 auto;border-top-left-radius:8px;border-top-right-radius:8px;background-color:#fff;width:1200px;z-index:1;top:1px;margin-top:70px;}
.banner_detail_form .cover {height:314px;width:215px;margin-top:-20px;margin-left:40px;float:left;box-shadow:0 0 5px #444;border-radius:6px;overflow:hidden;}
.banner_detail_form .cover img {height:314px;width:215px;}
.banner_detail_form .info {float:left;width:870px;padding-left:20px;}
.banner_detail_form .info .title {font-size:30px;color:#252525;margin-top:35px;}
.banner_detail_form .info .subtitle {font-size:13px;color:#666;margin-top:10px;}
.banner_detail_form .info .tip {margin-top:15px;}
.banner_detail_form .info .tip .block {font-size:13px;color:#999;margin-right:40px;}
.banner_detail_form .info .tip .block span {color:#252525;margin-left:10px;}
.banner_detail_form .info .content {font-size:13px;color:#666;margin-top:15px;line-height:20px;width:710px;}
.banner_detail_form .info .bottom {margin-top:25px;}
.banner_detail_form .info .bottom .btn-2 {background:#fd113a;border-radius:3px;font-size:16px;color:#fff;height:36px;line-height:36px;text-align:center;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:top;padding:0 10px;}

.page-pagination {min-width:605px;height:29px;text-align:right;margin-top:20px;padding-right: 20px;}
.page-pagination ul {display:inline-block;margin-right:12px;height:29px;vertical-align:middle;}
.page-pagination ul li {float:left;margin-left:4px;}
.page-pagination ul li a {display:block;float:left;min-width:29px;height:29px;line-height:29px;text-align:center;font-size:12px;border:1px solid #d9d9d9;border-radius:4px;color:#666;}
.page-pagination ul li a.active {border:1px solid #ff3f60;color:#fff;background-color:#fd113a;}
.page-pagination ul li a:hover {border:1px solid #ff3f60;color:#ff3f60;}
.page-pagination ul li a.active:hover{color:#fff;}

.mh-list {display:block;overflow:hidden;margin:0;padding:30px 0;margin-left: 32px;}
.mh-list li {display:block;float:left;margin:0;padding:0;width:180px;margin:0 5px 20px 5px;}
.mh-item {position:relative;background-color:#fff;}
.mh-cover {position:relative;display:block;width:180px;height: 240px;}
.mh-item .mh-item-detali .title {font-size:14px;font-weight:700;margin-top:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mh-item .mh-item-detali p.chapter {color:#252525;}
.mh-item .mh-item-detali p span:first-child {display:inline-block;min-width:36px;}
.mh-item .mh-item-detali p {font-size:12px;line-height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mh-item .mh-item-detali p a {color:#fd113a;}

.toast-win {position: fixed;padding: 20px;font-size: 12px;color: #fff;background-color: rgba(0,0,0,0.7);width: 200px;top: 40%;left: 50%;margin-left: -120px;text-align: center;border-radius: 10px;z-index: 999;}
.img-404{display: block;margin: 270px auto;}

.lang-con{width: 80px;display: block;margin: 0 auto;height: 20px;line-height: 20px;margin-top: 10px;}
.lang-logo{height: 20px;vertical-align: top;}
.lang-option{font-size: 12px;color: #9f9f9f;padding-right: 18px;text-decoration: underline;float: right;display: none;}
.lang-option.active{background-image: url(../images/icon_down_1.png);background-repeat: no-repeat;background-position: right center;background-size: 11px 11px;display: inline-block;}

.class-con{padding: 10px 0;border-bottom: 1px solid #EDEDED;}
.class-line{line-height: 26px;padding: 0 40px;margin: 20px 0;}
.class-line-title{font-size: 13px;color: #a0a0a0;letter-spacing: 0;}
.class-line a{font-size: 13px;color: #000000;letter-spacing: 0;display: inline-block;padding: 0 10px;border-radius: 13px;margin: 0 5px;}
.class-line a.active{background-color: #FF4B2B;color: #fff;}