<!doctype html>
<html lang="zh-CN">
  <head>
    <title>在线漫画阅读第一站</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shot icon" href="../static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="../static/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="../static/js/carousel.js"></script>
    <script type="text/javascript" src="../static/js/comm.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container"> <a href="/"> <img class="logo-img" src="http://css.mangabz.com/v202012291638/mangabz/images/logo_mangabz.png"> </a>
        <div class="input-form"> <input type="text" id="txtKeywords" value="" placeholder="搜索你喜欢的漫画/作者" data="一拳超人"> <a href="" class="input-form-btn" id="btnSearch"><img src="http://css.mangabz.com/v202012291638/mangabz/images/icon_search.png" class="input-form-search-logo"></a> </div>
        <div class="login-form"> <a href="">登录</a> <span class="login-form-split"></span> <a href="/">注册</a> </div>
        <div class="collect-form"> <a href="" class="collect-form-btn-1">历史</a> <a href="" class="collect-form-btn-2">收藏</a> </div>
      </div>
    </div>
    <div class="toast-win" style="display:none;"></div>
    {% block content %}
    {% endblock %}
    <div class="footer">
      <p>Copyright (C) 2005-2021 </p>
      <div class="lang-con"> <img class="lang-logo" src="../static/images/lang.png"> <a href="javascript:void(0);" class="lang-option active">白天</a> <a href="javascript:void(0);" class="lang-option noactive" onclick="SetLang(1)" style="display: none;">黑夜</a> </div>
    </div>

    <script type="text/javascript" src="../static/js/comicindex.js"></script>
    <script type="text/javascript">
      $(".poster-main").PicCarousel({
        "width": 290,
        "height": 255,
        "posterWidth": 190,
        "posterHeight": 255,
        "scale": 0.95,
        "speed": 500
      });
      var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        speed: 500
      })
    </script>
  </body>
</html>