{% extends 'base.html'%}

{% block content %}
<script type="text/javascript" src="../static/js/showcomic.js"></script>

<script type="text/javascript">
    var MANGABZ_COMIC_TEMPLATE = 2;
    var MANGABZ_COMIC_SORT = 2;
    var MANGABZ_COMIC_MID = 207;
    var MANGABZ_USERID = "0";
    var MANGABZ_CSS = 'http://css.mangabz.com/v202012291638/mangabz/';
</script>

<div class="detail-info-1">
    <div class="container">
        <div class="detail-info"> <img src="http://cover.mangabz.com/1/207/20191203094359_360x480_53.jpg"
                class="detail-info-cover">
            <p class="detail-info-title"> 关于我转生后成为史莱姆的那件事</p>
            <p class="detail-info-stars"> <img src="http://css.mangabz.com/v202012291638/mangabz/images/icon_star_s.png"
                    class="detail-info-star"> <img
                    src="http://css.mangabz.com/v202012291638/mangabz/images/icon_star_n.png" class="detail-info-star">
                <img src="http://css.mangabz.com/v202012291638/mangabz/images/icon_star_n.png" class="detail-info-star">
                <img src="http://css.mangabz.com/v202012291638/mangabz/images/icon_star_n.png" class="detail-info-star">
                <img src="http://css.mangabz.com/v202012291638/mangabz/images/icon_star_n.png" class="detail-info-star">
                <span>2.0分</span>
            </p>
            <p class="detail-info-tip"> <span>作者：<a
                        href="/search?title=%e5%b7%9d%e4%b8%8a%e6%b3%b0%e6%a0%91&amp;f=2">川上泰树</a><a
                        href="/search?title=%e4%bc%8f%e6%bf%91&amp;f=2">伏濑</a></span> <span>状态：<span>连载中</span></span>
                <span> 题材： <span class="item">科幻</span> </span>
            </p>
        </div>
    </div>
</div>

<div class="detail-info-2">
    <div class="container">
        <div class="detail-info">
            <p class="detail-info-content">普通上班族三上悟（37，童贞）遇刺身亡。迎接他的，是转生后的异世界史莱姆生活……</p>
            <div class="detial-info-btn-con"> <a href="/m26072/" title="第1卷" class="detail-info-btn-1">开始阅读<img
                        src="http://css.mangabz.com/v202012291638/mangabz/images/icon_read.png"
                        class="detail-info-btn-icon-1"></a> <a href="javascript:void(0);"
                    onclick="setBookmarker(0,MANGABZ_COMIC_MID,0,MANGABZ_USERID)" id="btn_collection207" mid="207"
                    class="detail-info-btn-2 btn_collection">收藏<img
                        src="http://css.mangabz.com/v202012291638/mangabz/images/icon_collection_1.png"
                        class="detail-info-btn-icon-2"></a> </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="detail-list-form-title"> <a href="javascript:void(0);" onclick="changeSort();"
            class="detail-list-form-title-right"><span>倒序</span><img
                src="http://css.mangabz.com/v202012291638/mangabz/images/icon_sort_down.png"
                class="detail-list-form-title-icon"></a> 连载中 | 共81章, 昨天 18:00 <span class="s">最新<span> <a
                    href="/m164936/" title="关于我转生后成为史莱姆的那件事 第81话" style="color:#ff3f60;" target="_blank">第81话 试看版</a>
            </span> </span></div>
    <div class="detail-list-form-con" id="chapterlistload"> <a href="/m164936/" class="detail-list-form-item  "
            title="试看版" target="_blank">第81话 试看版 <span>（68P）</span> </a> <a href="/m160758/"
            class="detail-list-form-item  " title="试看版" target="_blank">第80话 试看版 <span>（32P）</span> </a> <a
            href="/m162658/" class="detail-list-form-item  " title="试看版" target="_blank">第79话 试看版 <span>（20P）</span>
        </a> <a href="/m155712/" class="detail-list-form-item  " title="试看版" target="_blank">第78话 试看版 <span>（40P）</span>
        </a> <a href="/m150977/" class="detail-list-form-item  " title="试看版" target="_blank">第77话 试看版 <span>（44P）</span>
        </a> <a href="/m146975/" class="detail-list-form-item  " title="试看版" target="_blank">第76话 试看版 <span>（32P）</span>
        </a> <a href="/m143158/" class="detail-list-form-item  " title="试看版" target="_blank">第75话 试看版 <span>（41P）</span>
        </a> <a href="/m138261/" class="detail-list-form-item  " title="试看" target="_blank">第74话 试看 <span>（60P）</span>
        </a> <a href="/m132309/" class="detail-list-form-item  " title="试看版" target="_blank">第73话 试看版 <span>（40P）</span>
        </a> <a href="/m127243/" class="detail-list-form-item  " title="试看版" target="_blank">第72话 试看版 <span>（34P）</span>
        </a> <a href="/m122073/" class="detail-list-form-item  " title="试看版" target="_blank">第71话 试看版 <span>（38P）</span>
        </a> <a href="/m116555/" class="detail-list-form-item  " title="试看版" target="_blank">第70话 试看版 <span>（42P）</span>
        </a> <a href="/m113113/" class="detail-list-form-item  " title="特恩佩斯特复活祭" target="_blank">第69话 特恩佩斯特复活祭
            <span>（40P）</span> </a> <a href="/m108971/" class="detail-list-form-item  " title="" target="_blank">第68话
            <span>（46P）</span> </a> <a href="/m108970/" class="detail-list-form-item  " title="" target="_blank">第67话
            <span>（44P）</span> </a> <a href="/m108969/" class="detail-list-form-item  " title="" target="_blank">第66话
            <span>（30P）</span> </a> <a href="/m108968/" class="detail-list-form-item  " title="" target="_blank">第65话
            <span>（40P）</span> </a> <a href="/m108967/" class="detail-list-form-item  " title="" target="_blank">第64话
            <span>（48P）</span> </a> <a href="/m82699/" class="detail-list-form-item  " title="逆袭时刻" target="_blank">第63话
            逆袭时刻 <span>（27P）</span> </a> <a href="/m82698/" class="detail-list-form-item  " title="是魔物也是人类"
            target="_blank">第62话 是魔物也是人类 <span>（19P）</span> </a> <a href="/m82697/" class="detail-list-form-item  hide"
            title="魔女的处罚" target="_blank">第61话 魔女的处罚 <span>（33P）</span> </a> <a href="/m82696/"
            class="detail-list-form-item  hide" title="希望的条件" target="_blank">第60话 希望的条件 <span>（26P）</span> </a> <a
            href="/m82695/" class="detail-list-form-item  hide" title="绝望与希望" target="_blank">第59话 绝望与希望
            <span>（55P）</span> </a> <a href="/m82694/" class="detail-list-form-item  hide" title="灾祸"
            target="_blank">第58话 灾祸 <span>（32P）</span> </a> <a href="/m82693/" class="detail-list-form-item  hide"
            title="带来灾祸的来访者" target="_blank">第57话 带来灾祸的来访者 <span>（26P）</span> </a> <a href="/m82692/"
            class="detail-list-form-item  hide" title="各自的盘算" target="_blank">第56话 各自的盘算 <span>（26P）</span> </a> <a
            href="/m82691/" class="detail-list-form-item  hide" title="魔物的天敌" target="_blank">第55话 魔物的天敌
            <span>（32P）</span> </a> <a href="/m26105/" class="detail-list-form-item  hide" title="" target="_blank">第54话
            <span>（20P）</span> </a> <a href="/m26104/" class="detail-list-form-item  hide" title="" target="_blank">第53话
            <span>（22P）</span> </a> <a href="/m15777/" class="detail-list-form-item  hide" title="" target="_blank">第52话
            <span>（44P）</span> </a> <a href="/m15776/" class="detail-list-form-item  hide" title="" target="_blank">第51话
            <span>（24P）</span> </a> <a href="/m15775/" class="detail-list-form-item  hide" title="" target="_blank">第50话
            <span>（29P）</span> </a> <a href="/m15774/" class="detail-list-form-item  hide" title="" target="_blank">第49话
            <span>（21P）</span> </a> <a href="/m15772/" class="detail-list-form-item  hide" title="" target="_blank">第48话
            <span>（27P）</span> </a> <a href="/m26102/" class="detail-list-form-item  hide" title="" target="_blank">第47话
            <span>（38P）</span> </a> <a href="/m26101/" class="detail-list-form-item  hide" title="" target="_blank">第46话
            <span>（51P）</span> </a> <a href="/m26100/" class="detail-list-form-item  hide" title="" target="_blank">第45话
            <span>（21P）</span> </a> <a href="/m26099/" class="detail-list-form-item  hide" title="" target="_blank">第44话
            <span>（35P）</span> </a> <a href="/m26098/" class="detail-list-form-item  hide" title="" target="_blank">第43话
            <span>（31P）</span> </a> <a href="/m26097/" class="detail-list-form-item  hide" title="" target="_blank">第42话
            <span>（23P）</span> </a> <a href="/m26096/" class="detail-list-form-item  hide" title="" target="_blank">第41话
            <span>（33P）</span> </a> <a href="/m26095/" class="detail-list-form-item  hide" title="" target="_blank">第40话
            <span>（55P）</span> </a> <a href="/m26093/" class="detail-list-form-item  hide" title="" target="_blank">第39话
            <span>（36P）</span> </a> <a href="/m26092/" class="detail-list-form-item  hide" title="" target="_blank">第38话
            <span>（53P）</span> </a> <a href="/m26091/" class="detail-list-form-item  hide" title="" target="_blank">第37话
            <span>（26P）</span> </a> <a href="/m26090/" class="detail-list-form-item  hide" title="" target="_blank">第36话
            <span>（27P）</span> </a> <a href="/m26089/" class="detail-list-form-item  hide" title="" target="_blank">第35话
            <span>（35P）</span> </a> <a href="/m26088/" class="detail-list-form-item  hide" title="" target="_blank">第34话
            <span>（47P）</span> </a> <a href="/m26087/" class="detail-list-form-item  hide" title="" target="_blank">第33话
            <span>（23P）</span> </a> <a href="/m26086/" class="detail-list-form-item  hide" title="" target="_blank">第32话
            <span>（31P）</span> </a> <a href="/m26085/" class="detail-list-form-item  hide" title="" target="_blank">第31话
            <span>（31P）</span> </a> <a href="/m26084/" class="detail-list-form-item  hide" title="" target="_blank">第30话
            <span>（25P）</span> </a> <a href="/m26082/" class="detail-list-form-item  hide" title="" target="_blank">第29话
            <span>（35P）</span> </a> <a href="/m26081/" class="detail-list-form-item  hide" title="" target="_blank">第28话
            <span>（56P）</span> </a> <a href="/m26080/" class="detail-list-form-item  hide" title="" target="_blank">第27话
            <span>（31P）</span> </a> <a href="/m26079/" class="detail-list-form-item  hide" title="" target="_blank">第26话
            <span>（27P）</span> </a> <a href="/m26078/" class="detail-list-form-item  hide" title="" target="_blank">第25话
            <span>（33P）</span> </a> <a href="/m26077/" class="detail-list-form-item  hide" title="" target="_blank">第24话
            <span>（28P）</span> </a> <a href="/m26076/" class="detail-list-form-item  hide" title="" target="_blank">第23话
            <span>（29P）</span> </a> <a href="/m26075/" class="detail-list-form-item  hide" title="" target="_blank">第22话
            <span>（32P）</span> </a> <a href="/m26074/" class="detail-list-form-item  hide" title="" target="_blank">第21话
            <span>（31P）</span> </a> <a href="/m26073/" class="detail-list-form-item  hide" title="" target="_blank">第20话
            <span>（32P）</span> </a> <a href="/m26071/" class="detail-list-form-item  hide" title="" target="_blank">第19话
            <span>（28P）</span> </a> <a href="/m26070/" class="detail-list-form-item  hide" title="" target="_blank">第18话
            <span>（29P）</span> </a> <a href="/m26069/" class="detail-list-form-item  hide" title="" target="_blank">第17话
            <span>（34P）</span> </a> <a href="/m26068/" class="detail-list-form-item  hide" title="" target="_blank">第16话
            <span>（29P）</span> </a> <a href="/m26067/" class="detail-list-form-item  hide" title="" target="_blank">第15话
            <span>（29P）</span> </a> <a href="/m26066/" class="detail-list-form-item  hide" title="" target="_blank">第14话
            <span>（28P）</span> </a> <a href="/m26065/" class="detail-list-form-item  hide" title="" target="_blank">第13话
            <span>（33P）</span> </a> <a href="/m26064/" class="detail-list-form-item  hide" title="" target="_blank">第12话
            <span>（32P）</span> </a> <a href="/m26063/" class="detail-list-form-item  hide" title="" target="_blank">第11话
            <span>（30P）</span> </a> <a href="/m26062/" class="detail-list-form-item  hide" title="" target="_blank">第10话
            <span>（34P）</span> </a> <a href="/m26061/" class="detail-list-form-item  hide" title="" target="_blank">第9话
            <span>（31P）</span> </a> <a href="/m26060/" class="detail-list-form-item  hide" title="" target="_blank">第8话
            <span>（31P）</span> </a> <a href="/m26059/" class="detail-list-form-item  hide" title="" target="_blank">第7话
            <span>（30P）</span> </a> <a href="/m26058/" class="detail-list-form-item  hide" title="" target="_blank">第6话
            <span>（26P）</span> </a> <a href="/m26057/" class="detail-list-form-item  hide" title="" target="_blank">第5话
            <span>（29P）</span> </a> <a href="/m26056/" class="detail-list-form-item  hide" title="" target="_blank">第4话
            <span>（28P）</span> </a> <a href="/m26055/" class="detail-list-form-item  hide" title="" target="_blank">第3话
            <span>（33P）</span> </a> <a href="/m26054/" class="detail-list-form-item  hide" title="" target="_blank">第2话
            <span>（37P）</span> </a> <a href="/m26053/" class="detail-list-form-item  hide" title="" target="_blank">第1话
            <span>（48P）</span> </a> <a href="/m26124/" class="detail-list-form-item  hide" title=""
            target="_blank">成为史莱姆的那件事 现场录音 <span>（5P）</span> </a> <a href="/m26123/" class="detail-list-form-item  hide"
            title="" target="_blank">成为史莱姆的那件事 漫步08 <span>（21P）</span> </a> <a href="/m26122/"
            class="detail-list-form-item  hide" title="" target="_blank">成为史莱姆的那件事 漫步07 <span>（10P）</span> </a> <a
            href="/m26121/" class="detail-list-form-item  hide" title="" target="_blank">成为史莱姆的那件事 漫步06
            <span>（21P）</span> </a> <a href="/m26120/" class="detail-list-form-item  hide" title=""
            target="_blank">成为史莱姆的那件事 漫步05 <span>（19P）</span> </a> <a href="/m26119/"
            class="detail-list-form-item  hide" title="" target="_blank">成为史莱姆的那件事 漫步03 <span>（23P）</span> </a> <a
            href="/m26118/" class="detail-list-form-item  hide" title="" target="_blank">成为史莱姆的那件事 漫步02
            <span>（23P）</span> </a> <a href="/m26117/" class="detail-list-form-item  hide" title=""
            target="_blank">成为史莱姆的那件事 漫步01 <span>（33P）</span> </a> <a href="/m26125/"
            class="detail-list-form-item  hide" title="" target="_blank">第6卷 <span>（8P）</span> </a> <a href="/m26116/"
            class="detail-list-form-item  hide" title="" target="_blank">第6卷 <span>（188P）</span> </a> <a href="/m26111/"
            class="detail-list-form-item  hide" title="" target="_blank">第5卷 <span>（188P）</span> </a> <a href="/m26103/"
            class="detail-list-form-item  hide" title="" target="_blank">第4卷 <span>（187P）</span> </a> <a href="/m26094/"
            class="detail-list-form-item  hide" title="" target="_blank">第3卷 <span>（219P）</span> </a> <a href="/m26083/"
            class="detail-list-form-item  hide" title="" target="_blank">第2卷 <span>（197P）</span> </a> <a href="/m26072/"
            class="detail-list-form-item  hide" title="" target="_blank">第1卷 <span>（244P）</span> </a></div> <a
        href="javascript:void(0);" onclick="showMoreItem();" class="detail-list-form-more">展开全部章节<img
            src="http://css.mangabz.com/v202012291638/mangabz/images/icon_down.png"
            class="detail-list-form-more-icon"></a>
</div>
{% endblock %}