{% extends 'base.html'%}

{% block content %}
    <div class="toast-win" style="display:none;"></div>
    <div class="banner-con">
        <div class="container"> <a href="/73bz/" title="鬼灭之刃"><img src="http://static.mangabz.com/mangabz/12/2019/10/26/b105f94957af4df8.jpg" class="banner-1"></a> <a href="/266bz/" title="咒术回战"><img src="http://static.mangabz.com/mangabz/86/2021/2/2/12d889a402e44b11.jpg" class="banner-2"></a> <a href="/2255bz/" title="干杂活我乃最强"><img src="http://static.mangabz.com/mangabz/86/2021/2/2/cdf6fe4e81084b7a.jpg" class="banner-3"></a> <a href="/1294bz/" title="最后再拜托您一件事可以吗"><img src="http://static.mangabz.com/mangabz/86/2021/2/2/20078eee91644ef9.jpg" class="banner-3"></a> </div>
    </div>
    <div class="index-block">
        <div class="container">
          <div class="list-con-1">
            <p class="list-con-title">人气推荐</p>
            <div class="index-manga-list">
              <div class="index-manga-item"> <a href="/242bz/"><img src="http://cover.mangabz.com/1/242/20191203160605_180x240_20.jpg" class="index-manga-item-cover"></a>
                <p class="index-manga-item-title"><a href="/242bz/">篮球少年王</a></p>
                <p class="index-manga-item-subtitle"> <span>运动</span> </p>
              </div>
              <div class="index-manga-item"> <a href="/236bz/"><img src="http://cover.mangabz.com/1/236/20191203155214_180x240_20.jpg" class="index-manga-item-cover"></a>
                <p class="index-manga-item-title"><a href="/236bz/">工作细胞black</a></p>
                <p class="index-manga-item-subtitle"> </p>
              </div>
              <div class="index-manga-item"> <a href="/234bz/"><img src="http://cover.mangabz.com/1/234/20191220110607_180x240_25.jpg" class="index-manga-item-cover"></a>
                <p class="index-manga-item-title"><a href="/234bz/">极主夫道</a></p>
                <p class="index-manga-item-subtitle"> <span>生活</span> </p>
              </div>
              <div class="index-manga-item"> <a href="/139bz/"><img src="http://cover.mangabz.com/1/139/20191203153434_180x240_26.jpg" class="index-manga-item-cover"></a>
                <p class="index-manga-item-title"><a href="/139bz/">海贼王</a></p>
                <p class="index-manga-item-subtitle"> <span>热血</span> </p>
              </div>
            </div>
          </div>
          <div class="rank-con">
            <p class="list-con-title">热度排行</p>
            <div class="rank-list">
              <div class="list rank-item-2"> <a href="/134bz/"> <img src="http://cover.mangabz.com/1/134/20191203152816_320x246_33.jpg" style="display: none;" class="rank-item-cover"> <span class="rank-top-1">1</span> </a>
                <p class="rank-item-title"><a href="/134bz/">不过是蜘蛛什么的</a></p>
                <p class="rank-item-right"> <span>冒险</span> </p>
              </div>
              <div class="rank-item-2 list"> <a href="/73bz/"> <img src="http://cover.mangabz.com/1/73/20191203103229_320x246_47.jpg" style="display:none;" class="rank-item-cover"> <span class="rank-top-2">2</span> </a>
                <p class="rank-item-title"><a href="/73bz/">鬼灭之刃</a></p>
                <p class="rank-item-right"> <span>热血</span> <span>冒险</span> </p>
              </div>
              <div class="rank-item-2 list"> <a href="/123bz/"> <img src="http://cover.mangabz.com/1/123/20191220112220_320x246_39.jpg" style="display:none;" class="rank-item-cover"> <span class="rank-top-3">3</span> </a>
                <p class="rank-item-title"><a href="/123bz/">平凡职业成就世界最强 零</a></p>
                <p class="rank-item-right"> <span>冒险</span> <span>魔法</span> </p>
              </div>
              <div class="list rank-item-1"> <a href="/91bz/"> <img src="http://cover.mangabz.com/1/91/20191203131109_320x246_34.jpg" style="" class="rank-item-cover"> <span class="rank-top-x">4</span> </a>
                <p class="rank-item-title"><a href="/91bz/">五等分的花嫁</a></p>
                <p class="rank-item-right"> <span>恋爱</span> <span>校园</span> </p>
              </div>
              <div class="rank-item-2 list"> <a href="/72bz/"> <img src="http://cover.mangabz.com/1/72/20191220112108_320x246_39.jpg" style="display:none;" class="rank-item-cover"> <span class="rank-top-x">5</span> </a>
                <p class="rank-item-title"><a href="/72bz/">平凡职业成就世界最强</a></p>
                <p class="rank-item-right"> <span>冒险</span> </p>
              </div>
              <div class="rank-item-2 list"> <a href="/64bz/"> <img src="http://cover.mangabz.com/1/64/20191203100442_320x246_42.jpg" style="display:none;" class="rank-item-cover"> <span class="rank-top-x">6</span> </a>
                <p class="rank-item-title"><a href="/64bz/">炎炎之消防队</a></p>
                <p class="rank-item-right"> <span>热血</span> </p>
              </div>
              <div class="rank-item-2 list"> <a href="/38bz/"> <img src="http://cover.mangabz.com/1/38/20191206093248_320x246_31.jpg" style="display:none;" class="rank-item-cover"> <span class="rank-top-x">7</span> </a>
                <p class="rank-item-title"><a href="/38bz/">一拳超人</a></p>
                <p class="rank-item-right"> <span>热血</span> <span>冒险</span> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container">
        <div class="row">
            {% for x in api %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{x.avatar_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{x.login}}</h5>
                    <p class="card-text">{{x.login}}的github</p>
                    <a href="{{x.html_url}}" class="btn btn-primary">访问</a>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div> -->
{% endblock %}