{% extends 'base.html'%}

{% block content %}
    <div class="banner-con">
        <div class="container"> 
          {% for x in data.banner %}
            <a href="{{x.detail_url}}" title="{{x.title}}">
              <img src="{{x.img_url}}" class="banner-{{forloop.counter}}">
            </a> 
          {% endfor %}
        </div>
    </div>
    <div class="index-block">
      <div class="container">
        <div class="list-con-1">
          <p class="list-con-title">人气推荐</p>
          <div class="index-manga-list">
            {% for x in data.popular %}
              <div class="index-manga-item"> <a href="{{x.detail_url}}"><img src="{{x.cover_img_url}}" class="index-manga-item-cover"></a>
                <p class="index-manga-item-title"><a href="{{x.detail_url}}">{{x.title}}</a></p>
                <p class="index-manga-item-subtitle"> 
                  {% for i in x.class %}
                    <span>{{i}}</span> 
                  {% endfor %}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="rank-con">
          <p class="list-con-title">热度排行</p>
          <div class="rank-list">
            {% for x in data.rank %}
              {% if forloop.counter == 1 %}
              <div class="list rank-item-1"> 
              {% else %}
              <div class="list rank-item-2"> 
              {% endif %}
                <a href="{{x.detail_url}}"> 
                  {% if forloop.counter == 1 %}
                  <img src="{{x.cover_img_url}}" style="display: inline;" class="rank-item-cover"> 
                  {% else %}
                  <img src="{{x.cover_img_url}}" style="display: none;" class="rank-item-cover"> 
                  {% endif %}
                  {% if forloop.counter <= 3 %}
                  <span class="rank-top-{{forloop.counter}}">
                  {% else %}
                  <span class="rank-top-x">
                  {% endif %}
                  {{forloop.counter}}</span>
                </a>
                <p class="rank-item-title"><a href="{{x.detail_url}}">{{x.title}}</a></p>
                <p class="rank-item-right"> 
                  {% for i in x.class %}
                    <span>{{i}}</span> 
                  {% endfor %}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="index-block">
      <div class="container">
        <div class="list-con-2">
          <p class="list-con-title">编辑推荐</p>
          <div class="index-manga-list">
            <div class="swiper-container">
              <div class="swiper-wrapper" style="width: 4800px; height: 1254.4px; transform: translate3d(-1200px, 0px, 0px); transition-duration: 0s;">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 1200px; height: 1254.4px;">
                  {% for x in data.recommend %}
                  {% if forloop.counter <= 6 %}
                  <div class="index-manga-item"> <a href="{{x.detail_url}}"><img src="{{x.cover_img_url}}" class="index-manga-item-cover"></a>
                    <p class="index-manga-item-title"><a href="{{x.detail_url}}">{{x.title}}</a></p>
                    <p class="index-manga-item-subtitle"> 
                      {% for i in x.class %}
                      <span>{{i}}</span> 
                      {% endfor %}
                    </p>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="swiper-slide swiper-slide-duplicate" style="width: 1200px; height: 1254.4px;">
                  {% for x in data.recommend %}
                  {% if forloop.counter > 6 %}
                  <div class="index-manga-item"> <a href="{{x.detail_url}}"><img src="{{x.cover_img_url}}" class="index-manga-item-cover"></a>
                    <p class="index-manga-item-title"><a href="{{x.detail_url}}">{{x.title}}</a></p>
                    <p class="index-manga-item-subtitle"> 
                      {% for i in x.class %}
                      <span>{{i}}</span> 
                      {% endfor %}
                    </p>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div> <a href="javascript:void(0);" onclick="mySwiper.swipePrev();"><img src="../static/images/icon_left.png" class="icon-left"></a> <a href="javascript:void(0);" onclick="mySwiper.swipeNext();"><img src="../static/images/icon_right.png" class="icon-right"></a>
    </div>
    <div class="index-block">
      <div class="container"> <a href="javascript:void(0);" class="carousel-left-btn"><img src="../static/images/icon_left.png" class="carousel-left"></a> <a href="javascript:void(0);" class="carousel-right-btn"><img src="../static/images/icon_right.png" class="carousel-right"></a>
        <div class="list-con-2">
          <p class="list-con-title">上升最快</p>
          <div class="carousel-list">
            <div class="poster-main" style="width: 290px; height: 255px;">
              <div class="poster-btn poster-prev-btn" style="width: 50px; height: 255px; z-index: 3;"></div>
              <ul class="poster-list" style="width: 290px; height: 255px;">
                {% for x in data.ascend %}
                {% if forloop.counter <= 5 %}
                <li class="poster-item" style=""><a href="{{x.detail_url}}"><img src="{{x.cover_img_url}}" data-id="{{x.rowkey}}" data-title="{{x.title}}" data-subtitle="{% for i in x.author %}{{i }}{% endfor %}" data-tag="{{x.class.0}}" data-content="{{x.description}}" data-url="{{x.detail_url}}" width="100%"></a></li>
                {% endif %}
                {% endfor %}
              </ul>
              <div class="poster-btn poster-next-btn" style="width: 50px; height: 255px; z-index: 3;"></div>
            </div>
            <p class="carousel-list-title">{{data.ascend.0.title}}</p>
            <p class="carousel-list-subtitle">{% for i in data.ascend.0.author %}{{i }}{% endfor %}</p>
            <p class="carousel-list-tag"> 
              {% for i in data.ascend.0.class %}
              <span>{{i}}</span> 
              {% endfor %}  
              <a href="data.ascend.0.detail_url" target="_blank" class="carousel-list-tag-start">开始阅读</a> </p>
            <p class="carousel-list-content">{{data.ascend.0.description}}</p>
          </div>
          <div class="carousel-right-list">
            {% for x in data.ascend %}
            <div class="carousel-right-item"> <a href="{{x.detail_url}}"><img src="{{x.cover_img_url}}" class="carousel-right-item-cover"></a>
              <p class="carousel-right-item-title"><a href="{{x.detail_url}}" title="{{x.title}}">{{x.title}}</a></p>
              <p class="carousel-right-item-subtitle">
                {% for i in x.author %}
                {{i }}
                {% endfor %}  
              </p>
              <p class="carousel-right-item-tag">
                {% for i in x.class %}
                <span>{{i}}</span> 
                {% endfor %}  
              </p>
              <p class="carousel-right-item-content">{{x.description}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="index-block">
      <div class="container">
        <div class="list-con-2" id="hotCatgoryId">
          <p class="list-con-title"> 
            <a href="javascript:void(0);" class="list-con-title-more"></a> 
            <span>热门分类</span> 
            <span class="list-con-title-class"> 
              {% for x in data.hot_class %}
              {% if forloop.counter == 1 %}
              <a href="javascript:void(0);" class="active">{{x.class}}</a> 
              {% else %}
              <a href="javascript:void(0);">{{x.class}}</a> 
              {% endif %}
              {% endfor %}
            </span> 
          </p>
          {% for x in data.hot_class %}
          {% if forloop.counter == 1 %}
          <div class="index-manga-list" style="display: block;">
          {% else %}
          <div class="index-manga-list" style="display: none;">
          {% endif %}
            {% for i in x.comic_list %}
            <div class="index-manga-item"> <a href="{{i.detail_url}}"><img src="{{i.cover_img_url}}" class="index-manga-item-cover"></a>
              <p class="index-manga-item-title" title="石纪元（Dr.Stone）"><a href="{{i.detail_url}}">{{i.title}}</a></p>
              <p class="index-manga-item-subtitle"> 
                {% for j in i.class %}
                <span>{{j}}</span> 
                {% endfor %}
              </p>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
{% endblock %}