<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ data.title }}</title>
  <meta name="Description" content="{{ data.description }}" />
  <meta name="Keywords" content="{{ data.title }},{{ data.title }}漫画,{{ data.title }}漫画免费阅读" /> <!-- 样式引用 -->
  <link REL="shot icon" href="../static/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="../static/css/chapterreset.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/chapterstyle.css" />
  <script src="../static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
  <script src="../static/js/jquery.cookie.js" type="text/javascript"></script>
  <script src="../static/js/chapter.js" type="text/javascript"></script>
  <script type="text/javascript">
    var isVip = "False";
    var MANGABZ_COOKIEDOMAIN = 'iewoai.com';
    var COMIC_MID = {{ data.rowkey }};
    var MANGABZ_CURL = "{{ data.chapter.chapter_url }}";
    var MANGABZ_CURL_END = "{{ data.chapter.page_end_url }}";
    var MANGABZ_CTITLE = "{{ data.chapter.title }} {{ data.chapter.full_title }}";
    var MANGABZ_MID = {{ data.rowkey }};
    var MANGABZ_CID = {{ data.chapter.cid }};
    var MANGABZ_IMAGE_COUNT = {{ data.chapter.page }};
    var MANGABZ_USERID = 0;
    var MANGABZ_FROM = "%2fm164936%2f";
    // var MANGABZ_PAGETYPE = 9;
    var MANGABZ_PAGEINDEX = 1;
    var MANGABZ_PAGEPCOUNT = 1;
    var MANGABZ_POSTCOUNT = 0;
    var MANGABZ_LOADIMAGEURL = '../static/images/loading.gif';
    var MANGABZ_LOADIMAGEURLW = 'http://css.mangabz.com/mangabz/images/newloading2.gif';
    var MANGABZ_LOADIMAGEURLWH = 'http://css.mangabz.com/mangabz/images/newloading3.gif';
    var MANGABZ_LOADINGIMAGE = '../static/images/loading.gif';
    var MANGABZ_READMODEL = 1;
    var MANGABZ_CURRENTFOCUS = 1;
    var MANGABZ_VIEWSIGN = "53d5c4acca0229a1c43f3b2efbc0aa99";
    var MANGABZ_VIEWSIGN_DT = "{{ data.date }}";
    reseturl(window.location.href, MANGABZ_CURL.substring(0, MANGABZ_CURL.length - 1));
  </script>
  <style type="text/css">
    div.yddiv iframe {
      position: relative !important;
    }
  </style>
</head>

<body class="tool">
  <div class="top-bar">
    <div class="top-bar-tool">
      <div class="container">
        <p class="top-title"><a href="/207bz/"><img src="../static/images/icon_back.png" class="top-back" /></a> {{ data.chapter.title }} {{ data.chapter.full_title }}</p>
      </div>
    </div>
  </div>
  <div class="readForm" id="showimage" style="min-height: inherit !important;" oncontextmenu="return false;">
    <div class="item" id="cp_img" oncontextmenu="return false;"></div>
  </div>
  <div class="bottom-bar">
    <div class="bottom-bar-tool">
      <div class="container">
        <div class="bottom-right"> <a href="{{ data.chapter.chapter_url }}"><img src="../static/images/icon_shangyizhang.png" class="bottom-logo" /></a> <a href="javascript:ShowPre();"><img src="../static/images/icon_shangyiye.png" class="bottom-logo" /></a> <span class="bottom-page2"><span id="lbcurrentpage">{{ data.chapter.current_page }}</span>-{{ data.chapter.page }}</span> <a href="javascript:ShowNext();"><img src="../static/images/icon_xiayiye.png" class="bottom-logo" /></a> </div>
      </div>
    </div>
  </div>
  <div class="toast-win" style="display: none;">当前章节已读完</div>
  <script type="text/javascript">
    $('.top-bar,.bottom-bar').mouseover(function() {
      $('body').addClass('tool');
    });
    $('.top-bar,.bottom-bar').mouseout(function() {
      $('body').removeClass('tool');
    });
    setTimeout(function() {
      $('body').removeClass('tool');
    }, 1000);
    $(function() {
      chapterload2(MANGABZ_CID, MANGABZ_CTITLE, MANGABZ_CURL, MANGABZ_CURL_END);
      $('#lbcurrentpage').text(MANGABZ_PAGE);
    });
  </script>
</body>

</html>